
.DS_Store
*.pyc
*.xml
*.lock
*.yaml
untitled1/.packages
*.iml
*.json
*.pyc
*.pyc
genome/.DS_Store
genome/.DS_Store
genome/calcule/__pycache__/calcule_ACGT.cpython-38.pyc
genome/calcule/__pycache__/codon.cpython-38.pyc
